body {
  background:#666;
}
.form_bg {
  background-color:rgb(238, 238, 238);
  color:#666;
  padding:20px;
  border-radius:10px;
  position: absolute;
  border:1px solid #fff;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 280px;
}
.align-center {
  text-align:center;
}